<?xml version="1.0" encoding="utf-8" ?>
<widget widgetId="" appId="9999999" channelCode="000" version="0.1">
	<name>native扩展</name>
	<description>native扩展实例</description>
	<author email="3g2win@mail.com">3g2win</author>
	<icon src="icon.png"></icon>
	<license href="http://3g2win.com"></license>
	<content src="uexCalendarView.html" encoding="utf-8"></content>
	<obfuscation>false</obfuscation>
	<showmyspace>true</showmyspace>
	<bgcolor>#fefefe</bgcolor>
	<widgetOne version="[widgetOneVersion]" />
	<orientation>1</orientation>
</widget>